figure out why shotgun doesnt know why i changed username
<form action="/<%= @user.slug %>/facts/<%= @fact_number %>" method="POST">
  <input type="text" name="content" value="<%= @fact.content %>">
  <input type="submit" value="Edit fact">
</form>

<form action="/<%= @user.username.slug %>/facts/<%= @fact_number %>" method="POST">
  <input type="submit" value="Delete Fact">
</form>
